!!! Strict
%html.no-js{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= @title || "Kidsruby.com"
    %meta{content: "width=device-width, initial-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %link{:href=>'stylesheets/print.css', :rel => 'stylesheet', :media => "print", :type => "text/css"}
    %link{:href=>'stylesheets/screen.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    <!--[if lt IE 9]>
    %link{:href=>'stylesheets/ie.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    <![endif]-->
  
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/modernizr.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.form.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.lettering.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}
    %script{:type => "text/javascript", :src => "javascripts/respond.js"}
    
  %body
    %div.ruby
    .container
      %header.top
        %div.logo
          %a.kidsruby{:href => '/'}
            %div.glow
        %nav
          %ul.nav
            %li
              %a.nav.Home{:class => "#{'active' if @current_page == 'home'}", :href => '/'} Home
            %li
              %a.nav.About{:class => "#{'active' if @current_page == 'about'}", :href => '/about'} About
            %li
              %a.nav.Download{:class => "#{'active' if @current_page == 'download'}", :href => '/download'} Download
            %li
              %a.nav.Contact{:class => "#{'active' if @current_page == 'contact'}", :href => '/contact'} Contact
          %a#pull
            .nav-button
              %span.icon-bar 
              %span.icon-bar 
              %span.icon-bar 
        .background  
        
      .wrapper  
        = yield
    
    
        %aside
          %div.social-buttons
            %div.facebook-button
              %a.icon.icon-FB{:href => "http://www.facebook.com/share.php?u=www.kidsruby.com&title=[KidsRuby]"}
              %span.fbcount.counts
            %div.twitter-button    
              %a.icon.icon-twitter{:href => "http://twitter.com/home?status=KidsRuby+www.kidsruby.com"}
              %span.twittercount.counts
                
          %form{:method => 'post', :action => '/newsletter'}        
            %fieldset.newsletter
              %label
                Subscribe to our newsletter to receive the latest news 
                %span.newsletter about KIDSRUBY
            %fieldset.fields
              %input.email{:name => "email", :type => "email", :placeholder => "", :required => ""}
              %input.fields{:type => "submit", :value => "►"}
          %header.aside
            <a href="http://www.twitter.com/kidsruby">KIDSRUBY</a> on Twitter
          %div.small-logo
            %a.icon-twitterbutton{:href => "http://www.twitter.com/kidsruby"}
            %h3.aside Kids Ruby
            <a class="twitter" href="http://www.twitter.com/kidsruby">@kidsruby</a> Planet Earth!Let's teach kids how to program using Ruby! Programming is fun, and good for you too. <a href="http://kidsruby.com">http://kidsruby.com</a>
        
  
        
        
  %footer
    © 2013 Hybrid Powered     
    .bottom-border
    %div.bottom
      %img{:src => "/images/kidsRubyBottom.png", :class => "bottom-image"}
    %div.mobile
      %img{:src => "/images/640bottom.png", :class => "mobile-image"} 
    :javascript
        function blink(){
            $('.ruby').delay(100).fadeTo(500,0.1).delay(100).fadeTo(500,1, blink);
        }
        $(document).ready(function() {
             blink();
        });
        $(function() {
          var pull    = $('#pull');
            menu    = $('nav ul');
            menuHeight  = menu.height();
    
          $(pull).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
          });
    
          $(window).resize(function(){
                var w = $(window).width();
                if(w > 641 && menu.is(':hidden')) {
                  menu.removeAttr('style');
                }
            });
        });
        
        //safari margin nav fix for mobile
        $(window).on("resize", function () {  
        var width = $('body').width();    
        var topMargin = width * -0.17;     

          if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {  
          
             if ($(window).width() < 642) {                 
                $('.nav-button').css('margin-top', topMargin+'px');  
                }
              }
              else {
              };
       }).resize();
= partial :_analytics
