---
pageable: true
per_page: 5
layout: layout
---
%header.section-top
  %h2.title Have fun and make games, or hack your homework using Ruby!  Just tell your parents or teachers you're learning Ruby programming... ;)


%section.main
  %div.button
    %p.button-top
      Free and works on any computer.
    %a.red-button{:href => "/download"} Click here to Download

  %section.firstPage
    - page_articles.each_with_index do |article, i|
      %article.hide
        %h1.article-head= link_to article.title, article
        %time{:datetime => article.date}= article.date.strftime('%A, %b. %e %Y')
        = article.summary(250)

  %section.pagination
    %div.left
      - if prev_page
        = link_to 'Recent posts', prev_page
    %div.right
      - if next_page
        = link_to 'Previous posts', next_page